@charset "utf-8";
@import url("./normalize.css");
@import url("./reset.css");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

/* 기본 box-sizing 재설정 */

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* 숨김 콘텐츠 */

.skip-nav {
  /* 임시 */
  display: none;
}

.readable-hidden,
legend {
  position: absolute;
  left: -9999px;
}

.footer {
  background: lime;
}


/* 링크 스타일 */

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

a:hover,
a:focus {
  color: #f00;
}


/* 반응형 콘텐츠 */

.responsive {
  max-width: 100%;
  height: auto;
}


/* 본문 스타일 */

html {
  font-size: 10px;
}

body {
  color: #181818;
  background: #fff;
  font-family: "Spoqa Han Sans", sans-serif;
  font-weight: 400;
}

p {
  line-height: 1.5;
}


/* 반응형 콘텐츠 */


/* 레이아웃 */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.navigation,
.main-content,
.slogan,
.footer {
  width: 100%;
}


/* 메인 콘텐츠 섹션 공통 여백 */

.recommend-book,
.news,
.board,
.favorite-site,
.twitter {
  margin: 2rem 0
}


/* 메인 콘텐츠 제목 공통 */

.main-content-heading {
  background: url("images/sprite_main.png") no-repeat;
  height: 60px;
  padding-left: 60px;
  font-weight: 700;
  font-size: 2rem;
  margin: 20px;
}

.main-content-heading span {
  display: block;
}

.recommend-book-heading {
  background-position: ;
}

.news-heading {
  background-position: 0 -230px;
}

.board-heading {
  background-position: 0 -115px;
}

.favorite-site-heading {
  background-position: 0 -345px;
}

.twitter-heading {
  background-position: 0 -460px;
}

.recommend-book-heading span {
  color: #abd375;
}

.news-heading span {
  color: #e8ca58;
}

.board-heading span {
  color: #c7b39a;
}

.favorite-site-heading span {
  color: #eea60a;
}

.twitter-heading span {
  color: #6aaee6;
}


/* 추천 서적 */

.recommend-book-cover {
  margin: 1rem auto;
  width: 50%;
}

.recommend-book-cover,
.recommend-book-detail {
  text-align: center;
}

.recommend-book-detail * {
  display: inline-block;
}

.recommend-book-grade {
  display: block;
  font-size: 20px;
  color: #abd375;
  margin-bottom: 1rem;
}


/* 새소식 */

.new video {
  margin: 1rem 0;
}

.news time {
  display: block;
  margin-top: 1rem;
  text-align: right;
}


/* 게시판 */

.board {
  position: relative;
}

.board ul {
  margin-top: 1rem;
}

.board li {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.board li a {
  width: calc(100% - 100px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}


/* 트위터 */

.twitter-profile {
  width: 20%;
  float: right;
  margin: 2rem 0 0 2rem;
}

.twitter-profile img {
  border: 1px solid #aaa;
  padding: 0.5rem;
  border-radius: 50%;
}

.twitter a {
  margin-top: 1rem 0;
  display: block;
}

.twitter time {
  display: block;
  text-align: right;
  clear: both;
}


/* 인기사이트 */

.favorite-site ol {
  margin-left: 50px;
  overflow: hidden;
}

.favorite-site li {
  counter-increment: number;
  margin: 0.5em 0;
}

.favorite-site li:before {
  content: counter(number, decimal);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  background: #ec6a50;
  display: inline-block;
  margin-right: 0.5em;
  color: #fff;
  border-radius: 50%;
}


/* 슬로건 */

.slogan-content q {
  font-weight: 700;
}


/* 푸터 */

.footer {
  background: #988574;
  color: #fff;
  padding: 2rem;
}


/* 모바일 디바이스 */

@media all and (max-width: 999px) {
  body {
    font-size: 1.4rem;
  }
  .header,
  .navigation,
  .main-content,
  .slogan,
  .footer {
    width: 100%;
  }
  .header {
    display: flex;
    flex-flow: column nowrap;
    background: #38302e;
  }
  .logo,
  .member,
  .search {
    width: 100%;
  }
  .logo {
    padding: 1rem;
  }
  .member {
    background: #988574;
    order: -1;
    display: flex;
    justify-content: flex-end;
  }
  .member a {
    display: block;
    padding: 1rem;
    color: #fff;
  }
  .search {
    color: #fff;
    padding: 1rem 1rem 2rem 1rem;
  }
  .search input {
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 25px;
    width: calc(100% - 45px);
    margin-right: 10px;
  }
  .btn-search {
    border: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
  }
  .btn-search::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("images/btn_search.png") no-repeat 0 0 / cover;
  }
  /* .header {
    position: relative;
  }
  .logo {
    padding-top: 30px;
  }
  .member {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    background: burlywood;
    color: #fff;
    top: 0px;
    right: 0px;
  }
  #keyward {
    width: 80%;
  }
  .member li {
    padding: 0 5px;
  }
  .btn-menubar {} */
  /* 메인 메뉴 */
  .menubar-container {
    background: transparent;
    position: absolute;
    top: 6rem;
    right: 3rem;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
  .btn-menubar {
    border: 0;
    padding: 40px 0 0 0;
    background: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .menubar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s;
  }
  .menubar-act {
    overflow: hidden;
  }
  .menubar-top {
    top: 0;
  }
  .menubar-middle {
    top: 50%;
    transform: translateY(-50%);
  }
  .menubar-bottom {
    bottom: 0;
  }
  .menubar-act .menubar-top {
    transform: rotate(45deg);
    top: 50%;
  }
  .menubar-act .menubar-middle {
    transform: translateX(-100%);
  }
  .menubar-act .menubar-bottom {
    transform: rotate(-45deg);
    top: 50%;
  }
  /* .menubar-top-clicked {
    transform: rotate(45deg) translatex(5px);
    transform-origin: top left;
    transition: all 0.5s;
  }
  .menubar-middle-clicked {
    display: none;
    transition: all 0.5s;
  }
  .menubar-bottom-clicked {
    transform: rotate(-45deg) translatex(5px);
    transform-origin: bottom left;
    transition: all 0.5s;
  } */
  .main-menu {
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    padding: 3rem;
    z-index: 10;
    transform: translateX(-100%);
    transition: all 0.5s;
  }
  .menu-act {
    transform: translateX(0);
  }
  .main-menu span {
    font-weight: 700;
    font-size: 1.5rem
  }
  .sub-menu {
    padding-left: 4rem;
    list-style: circle;
    margin: 1rem 0 2rem 0;
  }
  /* 내가 짠 코드 */
  /*.btn-menubar {
    background: transparent;
    border: 0;
    width: 40px;
    height: 40px;
  }
  .menubar {
    display: block;
    background: #fff;
    width: 40px;
    height: 10px;
    border-radius: 50px;
  }
  .menubar-top,
  .menubar-middle,
  .menubar-bottom {
    margin: 5px 0 5px 0;
  }
  .btn-menubar {
    position: absolute;
    top: 75px;
    right: 0;
  }
  .main-menu {
    position: absolute;
    left: -9999px;
  }
  .main-menu li li {
    margin: 10px;
  }
  .sub-menu span {
    margin-left: 10px;
  }
  .main-menu ul {
    padding: 5px 0 5px 30px;
    list-style: circle;
  }
  .menu-active {
    color: #fff;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 30px 0 30px;
  } */
  /* 메인 콘텐츠 여백 및 구분선 */
  .recommend-book,
  .news,
  .board,
  .favorite-site,
  .twitter {
    margin: 2rem;
    border-bottom: 1px solid #aaa;
    padding-bottom: 1rem;
  }
  .slogan {
    padding: 0 2rem 2rem 2rem;
  }
  .slogan-heading {
    position: absolute;
    left: -9999em;
  }
  .address span {
    display: block;
  }
  .copyright {
    margin-top: 1rem;
  }
}


/* 데스크탑 디바이스 */

@media all and (min-width: 1000px) {
  body {
    font-size: 1.6rem;
  }
  .header,
  .main-menu,
  .main-content,
  .slogan,
  .address {
    width: 80%;
  }
  /* 헤더 */
  .header {
    position: relative;
  }
  /* 로고 */
  .logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }
  /* 회원서비스 */
  .member {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -1rem;
  }
  .member a {
    display: block;
    padding: 1rem;
  }
  /* 검색 폼 */
  .search .flex-container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0 2rem 0;
  }
  .search label {
    position: absolute;
    left: -9999em;
  }
  .search input {
    width: 400px;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 30px;
    padding: 2px 2px 2px 10px;
    margin-right: 1.5rem;
  }
  .btn-search {
    border: 1px solid #aaa;
    background: #988574;
    color: #fff;
    padding: 0 1.5rem;
  }
  /* 메인메뉴 */
  .navigation {
    background: #988574;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
  }
  .menubar-container {
    display: none;
  }
  .main-menu {
    display: flex;
    padding: 2rem 0;
    justify-content: space-around;
    color: #fff;
  }
  .main-menu span {
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  }
  .main-menu ul {
    margin-top: 1.5rem;
  }
  .main-menu a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
  }
  /* 내가 쓴 코드 */
  /* .header {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .logo {
    width: 40%;
    margin: 25px 0 0 0;
  }
  .member {
    display: flex;
    justify-content: flex-end;
    width: 60%;
  }
  .member li {
    padding: 0 5px 0 5px;
  }
  .search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .search label {
    position: absolute;
    left: -9999em;
  }
  .search input {
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 25px;
    width: 500px;
  } */
  /* 메인메뉴 */
  /* .navigation {
    display: flex;
    justify-content: center;
  }
  .btn-menubar {
    position: absolute;
    left: -9999px;
  }
  .main-menu {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    color: #fff;
  }
  .main-menu span {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px #000;
  } */
  /* 메인콘텐츠 */
  .main-content {
    width: 80%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .recommend-book {
    width: 35%;
  }
  .news {
    width: 63%;
  }
  .board {
    width: 36%;
  }
  .favorite-site {
    width: auto;
    order: 1;
  }
  .twitter {
    width: 36%;
  }
  .recommend-book,
  .news,
  .board,
  .favorite-site,
  .twitter {
    margin: 1rem 0;
  }
  /* 슬로건 */
  .slogan {
    margin-top: 2rem;
    position: relative;
  }
  .slogan-heading {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 110px;
    height: 83px;
    padding-top: 83px;
    overflow: hidden;
    background: url("images/coffee.png") no-repeat;
  }
  .slogan-content {
    margin-left: 130px;
    padding: 2rem 0;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
  .address {
    width: 700px;
  }
  .address span {
    margin-right: 2rem;
  }
  .copyright {
    margin-top: 1rem;
    display: block;
  }
}