/* ----------- flexbox ----------- */
.flex-container {
  display: flex;
  flex-flow: row wrap; }

.header {
  order: 1; }

.content {
  display: flex;
  flex-flow: column wrap;
  height: 30em;
  order: 2; }

.box1 {
   flex-grow: 8; }

.box2 {
   flex-grow: 1; }

.box3 {
  flex-grow: 3; }

.primary {
  -webkit-order: 3;
  order: 3; }

.secondary {
  -webkit-order: 4;
  order: 4; }

.footer {
  -webkit-order: 5;
  order: 5; }